In [1]:
print("This is a string")

This is a string

In [15]:
int_var = 20
float_var = 3.56
print(int_var) # treating as a variable
print("int_var") # treating as a normal string
print(float_var) # treating as a variable

20
int_var
3.56

In [4]:
print(int_var, float_var, "This is demo")

20 3.56 This is demo

In [14]:
print("String1", end=" ")
print("String2", end="\n")
print("String3")
print("String4")
print("String5", end="*")
print(34)

String1 String2
String3
String4
String5*34

In [17]:
print(int_var, float_var, "This is demo", end="\n\n\n") # not valid
print("Savar")

20 3.56 This is demo


Savar

In [20]:
int_var1 = 25
float_var_1 = 35.4
# method 1
print("Integer value is ", int_var1, ", float value is ", float_var_1)

Integer value is  25 , float value is  35.4

In [21]:
# method 2
print("Integer value is ", end=" ")
print(int_var1, end=" ")
print(", float value is ", end=" ")
print(float_var_1)

Integer value is  25 , float value is  35.4

In [24]:
# method 3
print("Integer value is "+str(int_var1)+", float value is "+str(float_var_1))

Integer value is 25, float value is 35.4

In [32]:
# method 4
str_var_1 = "Sanket"
print("Integer value is {0}, float value is {1} and name is {2}".format(int_var1, float_var_1, str_var_1))

Integer value is 25, float value is 35.4 and name is Sanket

In [35]:
# input methods
input_var = input()
print(type(input_var))
print("This is user input",input_var)

3
<class 'str'>
This is user input 3

In [41]:
# integer input
int_input_var = int(input())
print(type(int_input_var))
print("This is an integer input from user", int_input_var)

76
<class 'int'>
This is an integer input from user 76

In [45]:
# float input
float_input_var = float(input())
print(type(float_input_var))
print("This is an integer input from user", float_input_var)

34.5
<class 'float'>
This is an integer input from user 34.5

In [55]:
# # bool input
# bool_input_var = bool(input())
# print(type(bool_input_var))
# print("This is an integer input from user", bool_input_var)

In [57]:
# multiple input
inp1 = input("Enter your name ")
inp2 = int(input("Enter your marks"))
print(inp1, inp2)

Enter your name Sanket
Enter your marks34
Sanket 34

## Operators

In [58]:
# Arithmetic Operators
var1 = 22
var2 = 7
print(var1+var2)
print(var1-var2)
print(var1*var2)
print(var1/var2)
print(var1//var2)
print(var1%var2)
print(var1**var2)

29
15
154
3.142857142857143
3
1
2494357888

In [59]:
# Logical operator
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [60]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [61]:
print(not True)
print(not False)

False
True

In [62]:
# conditional operator
print(10<20)
print(10>20)
print(10!=20)
print(20!=20)
print(45==45)
print(54==45)
print(10<=11)
print(10<=10)
print(12>=13)
print(12>=12)

True
False
True
False
True
False
True
True
False
True

In [64]:
a = 100
a+=10
print(a)
a-=2
print(a)
a*=2
print(a)
a/=4
print(a)
a%=3
print(a)

110
108
216
54.0
0.0

## conditionals